# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vs
*.pdb
*.idb
*.lastbuildstate
*.tlog
*.log
*.ilk
*.db
/.vs
*.db
*.db
/.vs/CppTools/v17
/.vs
.vs/CppTools/v17/.suo
.vs/CppTools/v17/Browse.VC.db
*.json
/.vs
/MemoryManager/x64
/MemoryManager/Release
MemoryManager/Debug/MemoryManager.exe.recipe
